.gradle
*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
ivy-cache
*.log
spring-test/test-output/
.gradle
argfile*
pom.xml

classes/
/build
target/

.classpath
.project

# IDE artifacts and output dirs
.metals/
build/
.vscode/
*.iml
*.ipr
*.iws
.idea
out
test-output
.gradletasknamecache

resources/postgres-data/
